{% extends 'base.html' %}
{% block content %}
  <h1>Área do Cliente</h1>
  <p>Bem-vindo! Veja seus pedidos abaixo.</p>
  <a class="btn" href="/cliente/enderecos">Meus endereços</a>
  <div class="cards">
    {% for p in pedidos %}
      <div class="card">
        Pedido #{{ p.id }} — <strong>{{ p.status }}</strong> — Total R$ {{ '%.2f'|format(p.valor_total) }}
        <a class="btn" href="/cliente/pedidos/{{ p.id }}">Detalhes</a>
      </div>
    {% else %}
      <p>Você ainda não fez pedidos.</p>
    {% endfor %}
  </div>
{% endblock %}

