{% extends 'base.html' %}
{% block content %}
  <h1>Pedido #{{ pedido.id }}</h1>
  <div>Status: <strong>{{ pedido.status }}</strong></div>
  <ul>
    {% for it in pedido.itens %}
      <li>{{ it.quantidade }}x {{ it.prato.nome }} — R$ {{ '%.2f'|format(it.preco_unitario) }}</li>
    {% endfor %}
  </ul>
  <div>Subtotal: R$ {{ '%.2f'|format(pedido.valor_subtotal) }}</div>
  <div>Taxa (3%): R$ {{ '%.2f'|format(pedido.taxa_empresa) }}</div>
  <div>Total: R$ {{ '%.2f'|format(pedido.valor_total) }}</div>
{% endblock %}

